.tt01 {  
    font-family: 'med';
    font-size: 2em;
    text-align: center;
    color:#333;
    
}
    
body{
    background-image: url('../img/bg-01.jpg');
    background-repeat: no-repeat;
    background-color: #fff;
}

.link01 {
    font-family: 'med';
    font-size: 1.5em;

}

.nav-link {
    list-style: none;
}
.nav-link li {
    display: inline-block;
    border-right: 2PX solid ;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    
}
.nav-link .last-child{
    border-right: none;
}
.nav-link a {
    text-decoration: none;
    color: #666;
}

/*--- Main ---*/
.img-highlight {
    display: block;
    text-align: center;
}
.img-highlight img {
    max-width: 100%;
}

.mm01{
    font-family: 'med';
}

/*--- Footer ---*/
.footer {
    display: block;
    color: #fff;
    height: 80px;
    background: #333;
}